body {
    padding-top: 100px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px;
}
.sidebar-nav h1 {
    font-size:15px;
    line-height:20px;
    margin:0;
}

.vehicles_list {
    width:100%;
}

table.uploaded_files { border:1px black solid; }
table tr:nth-child(odd)		{ background-color:#eee; }
table tr:nth-child(even)		{ background-color:#fff; }
table tr:first-child                 {background-color:#fff;}
table tr:hover{
    color:white;
    background-color:#6d3353;
    cursor:pointer;
}
table td, .vehicles_list th {
    padding:2px;
    padding-left:10px;
    padding-right:10px;
    text-align: left;
}

.pagination {
    text-align:right;
    float:right;
}


h1 {
    font-size:22.5px;
    line-height:20px;
    margin:0;
}
h2 {
    font-size:18px;
    line-height:18px;
    margin:0;
}

.hero-unit {
    position:relative;
    padding:25px;

    background-color: #020031;
    background-image: -moz-linear-gradient(top, #020031, #6d3353);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#020031), to(#6d3353));
    background-image: -webkit-linear-gradient(top, #020031, #6d3353);
    background-image: -o-linear-gradient(top, #020031, #6d3353);
    background-image: linear-gradient(to bottom, #020031, #6d3353);
    color:white;
}

.hero-unit h1 {
    font-size:40px;
}

.container-fluid {
    margin: 0 auto;
    max-width: 1200px;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

body {
    font-family: "museo-sans",helvetica,arial,sans-serif;
    letter-spacing: 0.1em;
}
.required:after {
    content:'*'
}
input.error {
    border:1px red solid;
}
.navbar .nav {
    margin-left:15px;
    margin-top:10px;
}
#logo {
    height:40px;
}